@import "../../vars.css";

.footer {
    height: 100px;
    background: var(--black);
    transform: translate(0, 0);
    position: relative;
    margin-top: 100px;
}

.footer div {
    height: 15px;
    background: var(--lapiz);
    transform: translateY(100px);
}