@import "../../vars.css";

.title {
    max-width: 590px;
    font-size: 48px;
    margin-inline: 105px;
    margin-top: 180px;
}

.searchContainer {
    background: var(--black);
    color: var(--white);
    border-radius: 10px;
    padding: 25px;
    margin-inline: 80px;
}
.searchContainer p {
    margin: 0 0 20px;
}

.searchBar {
    display: flex;
    gap: 10px;
}
.searchBar div {
    display: flex;
    background: var(--white);
    color: var(--black);
    padding: 5px;
    border-radius: 5px;
}
.searchBar div input {
    border: none;
    text-align: center;
}
.searchBar a {
    border: none;
    border-radius: 5px;
    background: #807E7E;
    padding-inline: 30px;
    color: var(--white);
    cursor: pointer;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.searchBar a:hover {
    background: var(--black);
    border: 1px solid #807E7E;
    transition: background 100ms ease-in-out;
}

.create {
    background: linear-gradient(45deg, var(--lapiz), var(--black));
    background-size: 200%;
    color: var(--white);
    border-radius: 5px;
    padding: 15px 50px;
    margin-top: 80px;
    margin-inline: 30% auto;
    cursor: pointer;
    transition: background 750ms ease;
}
.create:hover {
    background-position: 100%;
}
.create a {
    text-decoration: none;
    color: var(--white);
}

.image {
    background-size: cover;
    position: absolute;
    top: 20%;
    right: -100px;
    height: 650px;
    width: 650px;
    border-radius: 400px;
}
