@import "../../vars.css";

.goBack {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 5px 20px 5px 10px;
    margin: 15px;

    border: 1px solid var(--lapiz);
    background: var(--lapiz);
    color: var(--white);
    border-radius: 5px;

    cursor: pointer;

    transition: background 150ms ease-in-out;
}
.goBack:hover {
    background: var(--white);
    color: var(--black);
    border: 1px solid var(--black);
}